{% assign filenames = "puzzle01.png,puzzle02.png.png,puzzle03.png,puzzle04.png,puzzle05.png,puzzle06.png,puzzle07.png,puzzle08.png,puzzle09.png,puzzle10.png" | split: "," %}
<div class ="image-gallery">
{% for name in filenames %}
    <div class="box">
    <a href="{{ https://github.com/universalbit-dev/cnc-router-machines/tree/main/assets/images/ }}{{ cnc_pz_png }}">
      <img src="{{ https://github.com/universalbit-dev/cnc-router-machines/tree/main/assets/images/  }}{{ cnc_pz_png }} " alt="{{ cncpz }}"  class="img-gallery" />
     </a>
    </div>
 {% endfor %}
</div>
